@font-face {
    font-family: "cookie" ;
    src: url(fontes/Cookiss.otf);
}

:root{/*padroes fixos*/
    --cor1: #68A67E;
    --cor2:#F29544;
    --cor3:#D96725;
    --cor4:#400D01;
    --cor5:#0D0D0D;
    --cor5:#F2EBDC;

}

*{
    margin: 0px;
    padding: 0;
}

body{
    height: 100vh;
    margin: auto;

    background-color:#f2954461;

    background-image: url(imagens/fundodes.avif);
    
    
    /* faz com que a imagem nao se reppita */
     background-position: center center;    /*  aposiçao da imagem é centro no cento */

    background-size: 1px;

     background-attachment: fixed;/* qaudndo rolar a pagina a imagem fica fixa */

    background-size: cover;  /* especifica o tamanho da imagem */ 


    
}

header img {
    width: 100px;
}

header{
    background-color: #68A67E;
    padding-bottom: 20px;
    box-shadow:2px 2px 2px 1px #0d0d0d93;

    max-width: 100%;
    min-width: 20%;
}

header .container { /* fixaçao do cabeçalho */
    background-color: #f29544;
    display: inline-flex;
    padding: 10px 50px;
    border-radius: 0px 0px 10px 0px;

    position: absolute;

    left: 0%;
    top: 0%;
    text-align: left;


    box-shadow: 2px 2px 2px 1px #0d0d0d93; /* faz uma sobra a baixo do cabeçalho */

    position: fixed;
    z-index: 99;
    
}

header .container a {
    color: #0D0D0D;
    text-decoration: none;

    font-family: "cookie";
}

header .container a:hover{
    color: #68A67E;
    text-shadow: 2px 2px 2px #0D0D0D;
}


#procure{
    border-radius: 10px;
    background-color: #400d015a;
    border-color: #0D0D0D;
    
    

    padding: 2px 14px;

    
}

form button{
    position: relative;
    background-color: #68A67E;
    border: none;
    border-radius: 15px;

    padding: 10px;
    
    width: 100px;

    color: #0D0D0D;
    cursor: pointer;

    text-align: center;

    transition-duration: 0.2s;
    overflow: hidden;
}

form button:hover{
    background-color: #0d0d0da6;
    color: #68A67E;
}



#procure:focus{ /* decoraçao da borda do area de texto */
    outline-color: #68A67E;
    border-color: #68A67E;
}

.navegacao{ /* deixa o texto na direita da pagina */
    text-align: right;
    padding: 10px 50px;
}

.navegacao li{/* remove a decoração da lista */
 
list-style-type:none ;
    
}

.navegacao a{ /* lista do cabeçalho */
    text-decoration: none;
    color: #0D0D0D;
    font-size: large;
    cursor: pointer;
    
}

.navegacao ul a:hover{/* passar o mouse no cabeçalho */
    text-decoration:underline;
    text-decoration-style: wavy;
    padding: 5px;

}

.navegacao ul a:hover:before{
    content: url(imagens/frigideira.png);

}



main{ /* reponsividade do conteudo principal */
    margin: 20px auto;
    padding: 10px;

    min-width: 300px;
    max-width:  1000px;/* rsponsividade da página */

    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #400d014a;

    background-color: #F2EBDC;
}

main .video{/* torna o video responsivo */
    background-color: #400D01;
    
    margin: 0px -10px 30px -10px;

   
    padding-bottom: 45%;
    position: relative;
}

main .video > iframe{/* torna o video responsivo */
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.cima{/* cabeçalho do conteudo principal */
    display: flex;
    justify-content: center;
    
}

.cima a:hover{ /* faz com que a imagen fique com opacidade  */
    opacity: 0.5;
}

.cima  h2{ /* estilo do cabeçalho da main */
 font-size: 55px;
 font-family: "cookie";
}

.container h3{  /* estilo do texto da main */
    color: #2a4333;
    font-style: oblique;
    text-align: center;
    font-weight: 900;

    padding: 5px;
}

.container p{ /* estilo do texto da main */
    text-align: justify;
    text-indent: 2em;
    padding: 5px;

    font-family: 'Times New Roman', Times, serif;
}

aside a{ /* estilo do link da main */
    color: #446c52;
    text-decoration: none;

    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}

aside a:hover{ /* estilo do link da main */
    
    opacity: 0.5;
}

.pratico{ /* estilo do bloco de receitas mais buscaddas"rmb" */
    min-width: 300px;
    max-width: 800px;

    

    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #400d014a ;

    margin: auto;

    padding: 10px;

    text-align: center;

    background-color: #400D01;
    color: #F2EBDC;

    
}

.pratico ul{ /* formataçao do conteudo da 'rmb' */
    display: inline-flex;
    justify-content: space-around;
    
    padding-top: 5px;
    height: 100%;


}

.pratico li{  /* estilo da borda e formataçao do conteudo */
    display: inline;
    justify-content: space-between;
    width: 30%;
    padding: 10px 0;
    
    border-style: double ;

}

.pratico h5{ /* correçao da altura do h5 */
    padding: 5px;
}

.pratico img{/*  formataçao da imgen do rmb*/

    min-width: 30%;
    max-width:  80%;

    height: 80%;

    filter: drop-shadow(1px 1px 6px #00000065 );

    border-radius:70%;
    
}

.pratico img:hover{ /* opacidade da imagem se tocada */
    opacity: 0.2;
    
   
}














footer{ /* formataçao do rodape, cor e tamanho */
    background-color: #68A67E;
    padding: 2px;
    margin-top: 150px;

    min-width: 300px;
    max-width:  auto;

    text-align: center;
    font-style: italic;

    font-size: 13px;
}

footer a{ /* cor do link e retirada da linha */
    color: #D96725;
    font-weight: bolder;
    text-decoration: none;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

footer a:hover{/* adiçao da linha com formato de onda no link ao ser tocado */
    
    text-decoration: underline;
    text-decoration-style:wavy ;
    
}